<link rel="stylesheet" href="/stylesheets/nav.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">


<nav>
    <h4><i class="ri-menu-line"></i></h4>
    <ul>
        <a href="/">Home</a>
        <a href="/register">Register Books</a>
        <a href="/books">Books</a>
    </ul>
    
</nav>